In [18]:
import pandas as pd 
import numpy as np
import statsmodels.api as sm
from dataclasses import dataclass
# from matplotlib import 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error
Default = pd.read_csv('./Default.csv')
Default.head()

  default student      balance        income
0      No      No   729.526495  44361.625074
1      No     Yes   817.180407  12106.134700
2      No      No  1073.549164  31767.138947
3      No      No   529.250605  35704.493935
4      No      No   785.655883  38463.495879

In [19]:
Default.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   default  10000 non-null  object
 1   student  10000 non-null  object
 2   balance  10000 non-null  float64
 3   income   10000 non-null  float64
dtypes: float64(2), object(2)
memory usage: 312.6+ KB

In [20]:
@dataclass
class T:
    train: pd.DataFrame
    test: pd.DataFrame
def sample():
    sample = Default.sample(frac=1, random_state=42).reset_index(drop=True)
    size = int(len(sample) * .8)
    train = sample[:size]
    test = sample[size:] 
    
    return T(train=train, test=test)

$lm(default ~ income + balance)$

In [22]:
data = sample()
pd.Series(np.searchsorted(['No', 'Yes'], data.train[['default']].values), data.train.index)
X = data.train[['income', 'balance']]
y = data.train[['default']]
model = LogisticRegression()
model.fit(X, y)
pr = model.predict(X)
mse = mean_squared_error(y, pr)
mse

ValueError: Data must be 1-dimensional, got ndarray of shape (8000, 1) instead